@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* root */
:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(186, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(180, 37%, 97%);
    --white: hsl(0, 0%, 100%);

    --ff: "Space mono", sans-serif;
    --fw-700: 700;
    --fs-input:1rem;
    --fs-base: 0.9rem;
}

/* reset */
*,*::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    background: var(--very-dark-cyan);
    color: var(--white);
    width: 100%;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    border: none;
    transition: .2s ease-in background;
}

input[type="number"] {
    color: var(--very-dark-cyan);
    display: inline-block;
    width: 100%;
    padding: 0.6rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    text-align: right;
    border: 1px solid var(--Strong-cyan);
    background-color: var(--very-light-grayish-cyan) !important;
}

#custom-input {
    background: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    border: none;
    margin: 0;                    
    outline: none;                 
    font-size: 1rem;
    font-weight: 700;
    border-radius: .2rem;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    text-align: right !important;
    padding-right: 1rem;
    line-height: 3rem;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

#custom-input::-webkit-outer-spin-button,
#custom-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#custom-input:focus {
    border: 2px solid var(--Strong-cyan);
    box-shadow: none;                        
}

input, button{
    font: inherit;
    font-size: var(--fs-input);
    border-radius: .2rem;
}

body{
    font-family: var(--ff);
    font-weight: var(--fw-700);
    font-size: var(--fs-base);
    color: var(--very-dark-cyan);
    padding: .5rem 0;
    background: var(--light-grayish-cyan);
}
/* helper Classes */
.grid {
    display: grid;
}
.flex {
    display: flex;
    align-items: center;
}
/* typography/text styles */
.title{
    text-align: center;
    line-height: 1.3;
    letter-spacing: 6px;
    font-size: 1rem;
    margin: 2rem 0 3rem;
    color: var(--dark-grayish-cyan);
}
label {
    display: inline-block;
    color: var(--dark-grayish-cyan);
    margin-bottom: 1rem;
}
.total-amount, .total-amount-person {
    color: var(--Strong-cyan);
    font-size: 2rem;
}
small {
    color: var(--dark-grayish-cyan);
}
/* ui elements */
#billInput {
    background: url(./assets/images/icon-dollar.svg) no-repeat;
    background-position: 2% 50%;
    border: none;
    outline: none;
}
#peopleInput {
    background: url(./assets/images/icon-person.svg) no-repeat;
    background-position: 2% 50%;
    border: none;
    outline: none;
}

#billInput:focus,
#peopleInput:focus {
  border: 2px solid var(--Strong-cyan);
  outline: none;
}

.reset-btn {
    text-transform: uppercase;
    background: var(--Strong-cyan);
    color: var(--very-dark-cyan);
    opacity: 40%;
    transition: .2s ease opacity;
}
.reset-btn:hover {
    opacity: 100%;
}
.select-tip-button:hover {
    background: var(--Strong-cyan);
}

/* layout styles */
 .tip-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    background: var(--white);
    padding: 1.75rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
 }
/*
 .select-buttons {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
 }
    */
.select-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: stretch; 
}

 .total-container {
    gap: 3rem;
    color: var(--white);
    padding: 1.75rem;
    border-radius: 1rem;
    background: var(--very-dark-cyan);
 } 
 
 .results-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.small-total {
    justify-content: space-between;
    gap: 7rem;
}
.small-total:nth-of-type(2) {
    margin-top: 2rem;
}

/* media query */

@media screen and (min-width: 650px){
    .tip-container {
        max-width: 50rem;
        margin-inline: auto;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .select-buttons {
        grid-template-columns: repeat(3, 1fr);
    }

    .results-box {
        align-items: initial;
        flex-direction: column;
        justify-content: space-between;
    }
}