:root {
--strong-green-400: hsl(172, 67%, 45%);
--very-dark-green-900: hsl(183, 100%, 15%);
--dark-grey-500: hsl(186, 14%, 43%);
--grey-400: hsl(184, 14%, 56%);
--light-grey-200: hsl(187, 30%, 88%);
--very-light-grey-50: hsl(189, 47%, 97%);
--White: hsl(0, 100%, 100%);
}

*{
    box-sizing: border-box;
}
input {
    color: var(--very-dark-green-900);
    padding: 10px;
    font-size: 22px;
}

input:focus {
    outline: 1px solid var(--strong-green-400);
    border: none;
}
html {
    height: 100%;
}
body{
    background-color: var(--light-grey-200);
    font-size: 16px;
    font-family: "Space Mono", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.panel {
    background: var(--White);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    gap: 20px;
}
.panel form {
    display: flex;
    flex-direction: column;
}

.tip-amounts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
    gap: 10px;
    padding: 0;
}

.tip-amounts label {
    width: 100%;
    display: inline-block;
    background-color: var(--very-dark-green-900);
    color: var(--White);
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
.tip-amounts label:hover {
    color: var(--very-dark-green-900);
    background: var(--light-grey-200);
}


.tip-amounts input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    
}

.tip-amounts input[type="radio"]:checked + label {
    color: var(--very-dark-green-900);
    background: var(--strong-green-400);
}

.custom-tip{
    width: 100%;
}

.results {
    background: var(--very-dark-green-900);
    color: var(--White);
    padding: 20px;
    border-radius: 10px;
}
.mb-2{
   margin-bottom: 20px; 
}

.row{
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.row aside {
    color: var(--strong-green-400);
}